<footer class="footer">
	<div class="container">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="footer__item">
				<div class="footer__item-logo">
					<div class="footer__logo">Logo</div>
				</div>
				<a href="#" class="footer__item-politic">Политика конфиденциальности</a>
				<div class="footer__item-elem">
					<a href="https://vk.com/" class="footer__item-button">
						<i class="icon__vk"></i>
					</a>
					<a href="https://ru-ru.facebook.com/" class="footer__item-button">
						<i class="icon__facebook"></i>
					</a>
					<a href="https://www.instagram.com/" class="footer__item-button">
						<i class="icon__inst"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>