	<header class="header">
		<div class="container">
			<div class="row">
				<div class="header__burger">
					<span></span>
				</div>
				<div class="header__block">
					<a href="/" class="header__logo">
						<img src="images/logo.jpg" alt="">
					</a>
					<nav class="header__nav">
						<ul class="header__nav-ul">
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link active">Главная</a>
							</li>
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link">О сервисе</a>
							</li>
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link">Цены</a>
							</li>
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link">Переводчики</a>
							</li>
							<li class="header__nav-item">
								<a href="javascript: void();" class="header__nav-link">Вакансии</a>
							</li>
						</ul>
					</nav>
					<div class="header__panel">
						<div class="header__panel-item">
							<div class="header__panel-elem">
								<i class="icon__key"></i> 
								<a href="javascript: void();" class="header__panel-title">Регистрация </a>
								<p class="subtitle">не обязательно</p>
							</div>
						</div>
						<div class="header__panel-item">
							<div class="header__panel-elem">
								<i class="icon__child"></i>
								<a href="javascript: void();" class="header__panel-title">Вход</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>